*{
	margin: 0;
	padding: 0;
}
body{
	background-image: url(road.jpeg);
	background-size: cover;
	background-position: center;
	font-family: sans-serif.; 
}
.form-box{
	width: 500px;
	background: rgba(0,0,0,0.8);
	margin: 12% auto;
	padding: 50px 0;
	color:#fff;
	box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
}
.h1{
	text-align: center;
	margin-bottom: 40px;
	
}
.input-box{
	margin: 31px auto;
	width: 80%;
	border-bottom:1px solid #fff;
	padding-top: 10px;
	padding-bottom: 5px;
}