*{
	margin: 0;
	padding: 0;
}
body{
	background-image: url(road.jpeg);
	background-size: cover;
	background-position: center;
	font-family: sans-serif.; 
}
.form-box{
	width: 500px;
	background: rgba(0,0,0,0.8);
	margin: 31% auto;
	padding: 50px 0;
	color:#fff;
	box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
}
.h1{
	text-align: center;
	margin-bottom: 40px;
	
}
.input-box{
	margin: 31px auto;
	width: 80%;
	border-bottom:1px solid #fff;
	padding-top: 10px;
	padding-bottom: 5px;
}
.input-box input
{
width: 90%;
border: none;
background: transparent;
color: #fff;

}
::placeholder
{
color: #ccc;
}
.fa{
	margin-right: 10px;
}
.eye{
	position: absolute;
}
#hide1{
	display: none;
}
.login-btn{
	padding: 10px 0;
	width: 80%;
	margin: 40px auto 20px;
	display: block;
	outline: none;
	padding: 10px 0;
	border: 1px solid #fff;
	cursor: pointer;
	background: transparent;
	color: #fff;
	font-size: 16px;

}